.container {
  max-width: 40rem;
  margin: 0 auto;
  padding: 3rem 1rem 6rem 1rem;
}

.container-wide {
  max-width: 60rem;
}

.backToHome {
  margin: 3rem 0 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  width: 50%;
}

.col-4 {
  width: 33%;
}

.col-8 {
  width: 67%;
}

.col-text {
  padding: 0 2rem;
}

@media screen and (max-width: 592px) {
  .col {
    width: 100% !important;
  }
  .col-text {
    padding: 0;
  }
}

.pretty-grid {
  display: grid;
  gap: 1rem 1rem;
  grid-template-columns: repeat(2, 1fr);
}

.pretty-grid > div {
  border-radius: 0.5rem;
  min-height: 18rem;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}

.pretty-grid > div .inner {
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #000;
  opacity: 0;
  transition: all 0.2s ease;
  user-select: none;
}

.pretty-grid > div:hover .inner {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.pretty-grid > div .inner h3 {
  margin: 0 0 0.25em 0;
}

.pretty-grid > div .inner p {
  margin: 0;
  font-size: 0.75em;
}

a.externalLink, a.externalLink * {
  text-decoration: none;
}

.layout-row {
  display: flex;
  flex-direction: row;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.layout-row .col {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
