.container {
  max-width: 36rem;
  margin: 0 auto;
  padding: 3rem 1rem 6rem 1rem;
}

.container-wide {
  max-width: 60rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  margin: 3rem 0 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  width: 50%;
}

.col-4 {
  width: 33%;
}

.col-8 {
  width: 67%;
}

.col-text {
  padding: 0 2rem;
}

@media screen and (max-width: 592px) {
  .col {
    width: 100% !important;
  }
  .col-text {
    padding: 0;
  }
}


