:root {
  --base-font-family: "Palatino", "Hoefler Text", "Book Antiqua", "Cambria", "Times New Roman", "Times", serif;
  --head-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --mono-font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace;
  --text: #444;
  --muted: #bbb;
  --tree-nav-background: transparent;
  --light: rgba(0,10,20,0.15);
  --link: hsl(160, 80%, 40%);
  --bg-light: rgba(0,10,20,0.05);
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--base-font-family);
  line-height: 1.618;
  font-size: 16px;
  color: var(--text);
}

section {
  margin-top: 3rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--head-font-family);
}

h1, h2 {
  font-weight: 700;
  letter-spacing: -0.02em;
}

h3 {
  font-weight: 400;
}

p {
  margin-bottom: 0.618rem;
}

a {
  color: var(--link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.list-link-content h3 {
  font-weight: 500;
}

.list-link-content {
  background-color: transparent;
  cursor: pointer;
  padding: 0.5em;
  margin: 0.25rem -0.5em;
  transition: background-color 0.4s ease;
}

.list-link-content:hover {
  background-color: var(--bg-light);
  border-radius: 0.5em;
}

img {
  max-width: 100%;
  display: block;
  border-radius: 0.5rem;
}

img.responsive {
  object-fit: cover;
}

.next-image-override > div > div:first-child {
  display: none !important;
}

.next-image-override img {
  position: static !important;
  height: unset !important;
  width: unset !important;
}

table {
  font-size: 0.7rem;
}

td, th {
  text-align: left;
  padding: 0.15rem 0.5rem;
}

thead td, thead th {
  border-bottom: 1px solid var(--text);
}

hr {
  border: none;
  border-bottom: 1px solid var(--light);
}

pre, code {
  font-family: var(--mono-font-family);
  line-height: 1.2;
}

pre {
  padding: 0.4rem 0.8rem;
  background-color: var(--bg-light);
  border-radius: 0.4rem;
}

code {
  font-size: 80%;
  border-radius: 0.2rem;
}

.color-wrapper * {
  color: inherit;
  transition: opacity 0.2s ease;
}

.tree-nav-box {
  padding-bottom: 1em;
}

.slug-item {
  background: var(--tree-nav-background);
  border: 1px solid var(--light);
  display: inline-block;
  margin-right: 0.3em;
  padding: 0 0.3em;
}

.tree-nav-box h5 {
  margin: 0.618rem 0 0 0;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--muted);
}
