:root {
  --base-font-family: Times, serif;
  --head-font-family: Arial, sans-serif;
  --mono-font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace;
  --text: #444;
  --muted: #bbb;
  --light: #ddd;
  --background: #fff;
  --link: hsl(160, 60%, 60%);
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--base-font-family);
  line-height: 1.618;
  font-size: 18px;
  color: var(--text);
}

section {
  margin-top: 3rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--head-font-family);
}

h1, h2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.02em;
}

h3 {
  font-weight: 400;
}

p {
  margin-bottom: 0.618rem;
}

a {
  color: var(--link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

img.responsive {
  object-fit: cover;
}

.next-image-override > div > div:first-child {
  display: none !important;
}

.next-image-override img {
  position: static !important;
  height: unset !important;
  width: unset !important;
}

div[data-id="tooltip"] {
  background: transparent;
  padding: 0;
  margin: 0;
}

div[data-id="tooltip"]::before, div[data-id="tooltip"]::after {
  display: none;
}

table {
  font-size: 0.7rem;
}

td, th {
  text-align: left;
  padding: 0.15rem 0.5rem;
}

thead td, thead th {
  border-bottom: 1px solid var(--text);
}

hr {
  border: none;
  border-bottom: 1px solid var(--light);
}

code {
  font-size: 80%;
  background: var(--light);
  padding: 0.1rem 0.3rem;
  border-radius: 0.2rem;
}

.color-wrapper * {
  color: inherit;
}

.tree-nav-box {
  padding-bottom: 1em;
}

.tree-nav-item {
  background: var(--background);
  border: 1px solid var(--light);
  display: inline-block;
  margin-right: 0.3em;
  padding: 0 0.3em;
}

.tree-nav-box h5 {
  margin: 0.618rem 0 0 0;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--muted);
}

.tree-nav-box .tree-nav.Parent::before {
  content: '∈';
  color: var(--muted);
  padding-right: 0.618em;
}

.tree-nav-box .tree-nav.Child::before {
  content: '⊂';
  color: var(--muted);
  padding-right: 0.618em;
}
